name: CI - Tests

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore ./InternshipPortal.API/InternshipPortal.API.sln

      - name: Build
        run: dotnet build ./InternshipPortal.API/InternshipPortal.API.sln --no-restore -c Release

      - name: Test
        run: dotnet test ./InternshipPortal.API/InternshipPortal.API.sln -c Release --verbosity normal
